fastapi==0.103.0
uvicorn[standard]==0.22.0
python-dotenv==1.0.0
pymysql==1.1.0
passlib[bcrypt]==1.7.4
python-jose[cryptography]==3.3.0
pydantic[email]
jinja2
qrcode
pillow==11.3.0
qrcode[pil]
reportlab
pytz
httpx